<div #header>
   <div class="topnav row" id="Topnav">
   		<div class="col-xs-6 col-sm-3 col-md-1 offset-md-1 offset-lg-1 col-lg-3">
			<a style="padding-left:0px !important; " id="miglig_logo_link" routerLink="/" (click)="toggleFunction($event)"><img id='miglig_logo' src="assets/logo.png"></a>
		</div>
		<div id="top_bar" class="col-xs-6 col-sm-9  col-md-9 offset-md-1 col-lg-6 offset-lg-2">
			<a></a>
			<a routerLink="/" (click)="toggleFunction($event)">Home</a>
			<a routerLink="regions" (click)="toggleFunction($event)">Regions</a>
			<a routerLink="profile" (click)="toggleFunction($event)">Profile</a>
			<a routerLink="aboutus" (click)="toggleFunction($event)">About Us</a>
			<a routerLink="login" (click)="toggleFunction($event)">Login</a>
			<a routerLink="signup" (click)="toggleFunction($event)">Sign up</a>
			<a href="javascript:void(0);" style="font-size:15px; float: right !important; padding-right:0px;" class="icon" (click)="myFunction($event)">&#9776;</a>
		</div>
   </div>
</div>
