<div id="login" class="row">
	<form class="form-horizontal offset-sm-6 col-sm-4" #login_form="ngForm" [formGroup]="form">
		<h4>Login</h4>
	  
	  <div class="form-group" [ngClass]="displayFieldCss('email_mobile')">
	    <div >
	      <input type="text" id="email_mobile" ngModel  placeholder="Email/Mobile"  class="form-control" formControlName="email_mobile">
	    </div>
	  </div>

	  <div class="form-group" [ngClass]="displayFieldCss('password')">
	    <div >
	      <input type="text" id="password" ngModel  type="password" placeholder="Password"  class="form-control" formControlName="password">
	    </div>
	  </div>

	<app-field-error-display 
	  [displayError]="isFieldValid('email_mobile')" 
	  [displayError]="isFieldValid('password')" 
	  errorMsg="Please inform your detail">
	</app-field-error-display>
	  <button class="btn btn-primary" [disabled]="!form.valid" (click)="onSubmit(login_form)">Submit</button>
	  <button class="btn" (click)="reset()">Reset</button>
	</form>
</div>