<div id="signup" class="row">
	<form class="form-horizontal offset-sm-7 col-sm-4" #f="ngForm" [formGroup]="form">
		<h4>Sign up</h4>
	  <div class="form-group" [ngClass]="displayFieldCss('name')">
	    <div >
	      <input type="text" id="name" ngModel  placeholder="Name" class="form-control" formControlName="name">
	    </div>
	  </div>

	  <div class="form-group" [ngClass]="displayFieldCss('email')">
	    <div >
	      <input type="text" id="email" ngModel  placeholder="Email"  class="form-control" formControlName="email">
	    </div>
	  </div>

	  <div class="form-group" [ngClass]="displayFieldCss('mobile')">
	    <div >
	      <input type="text" id="mobile" ngModel  placeholder="Mobile"  class="form-control" formControlName="mobile">
	    </div>
	  </div>

	  <div class="form-group" [ngClass]="displayFieldCss('password')">
	    <div >
	      <input type="text" id="password" ngModel  type="password" placeholder="Password"  class="form-control" formControlName="password">
	    </div>
	  </div>

	  <div class="form-group" [ngClass]="displayFieldCss('re_password')">
	    <div >
	      <input type="text" id="re_password" ngModel  type="password" placeholder="Re Type Password"  class="form-control" formControlName="re_password">
	    </div>
	  </div>

	<app-field-error-display 
	  [displayError]="isFieldValid('name')" 
	  [displayError]="isFieldValid('email')" 
	  [displayError]="isFieldValid('mobile')" 
	  [displayError]="isFieldValid('password')" 
	  [displayError]="isFieldValid('re_password')" 
	  errorMsg="Please inform your detail">
	</app-field-error-display>
	  <button class="btn btn-primary" [disabled]="!form.valid" (click)="onSubmit(f)">Submit</button>
	  <button style="float:right" class="btn" (click)="login_relocate()">Login</button><span style="float: right;margin-top: 6px; margin-right: 5px;">Already have account</span>
	</form>
</div>