<div class="row">

	<div style="margin-top: 2%;" class="col-sm-10 offset-sm-1 col-xs-12">
	<h3><label> Trending Videos</label></h3>
	<ngx-carousel
	  [inputs]="carouselTile"
	  (carouselLoad)="carouselTileLoad($event)">

	        <ngx-tile routerLink="/video/1" NgxCarouselItem *ngFor="let Tile of carouselTileItems">
	            <h1>{{Tile + 1}}</h1>
	        </ngx-tile>

	      <button NgxCarouselPrev class='leftRs'>&lt;</button>
	      <button NgxCarouselNext class='rightRs'>&gt;</button>
	</ngx-carousel>
	</div>
	<div style="margin-top: 2%;" class="col-sm-10 offset-sm-1 col-xs-12">
	<h3><label> New Videos</label></h3>
	<ngx-carousel
	  [inputs]="carouselTile"
	  (carouselLoad)="carouselTileLoad($event)">

	        <ngx-tile routerLink="/video/1"  NgxCarouselItem *ngFor="let Tile of carouselTileItems">
	            <h1>{{Tile + 1}}</h1>
	        </ngx-tile>

	      <button NgxCarouselPrev class='leftRs'>&lt;</button>
	      <button NgxCarouselNext class='rightRs'>&gt;</button>
	</ngx-carousel>
	</div>
	<div style="margin-top: 2%;" class="col-sm-10 offset-sm-1 col-xs-12">
	<h3><label> Popular Videos</label></h3>
	<ngx-carousel
	  [inputs]="carouselTile"
	  (carouselLoad)="carouselTileLoad($event)">

	        <ngx-tile routerLink="/video/1" NgxCarouselItem *ngFor="let Tile of carouselTileItems">
	            <h1>{{Tile + 1}}</h1>
	        </ngx-tile>

	      <button NgxCarouselPrev class='leftRs'>&lt;</button>
	      <button NgxCarouselNext class='rightRs'>&gt;</button>
	</ngx-carousel>
	</div>
	<div style="margin-top: 2%;" class="col-sm-10 offset-sm-1 col-xs-12">
	<h3><label> All time hits</label></h3>
	<ngx-carousel
	  [inputs]="carouselTile"
	  (carouselLoad)="carouselTileLoad($event)">

	        <ngx-tile routerLink="/video/1" NgxCarouselItem *ngFor="let Tile of carouselTileItems">
	            <h1>{{Tile + 1}}</h1>
	        </ngx-tile>

	      <button NgxCarouselPrev class='leftRs'>&lt;</button>
	      <button NgxCarouselNext class='rightRs'>&gt;</button>
	</ngx-carousel>
	</div>

</div>
