 <vg-player id="player_universal" (onPlayerReady)="onPlayerReady($event)"  (dblclick)="onDoubleClickFullscreen($event)" >
	<vg-overlay-play  [style.z-index]="'1'" ></vg-overlay-play>
	<vg-buffering></vg-buffering>

    <vg-scrub-bar [vgSlider]="true" [style.z-index]="'2'">
    	
    	<vg-scrub-bar-cue-points></vg-scrub-bar-cue-points>
		<vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
		<vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
	</vg-scrub-bar>
	<vg-controls [vgAutohide]="true" [vgAutohideTime]="1.5" [style.background-color]="'rgba(0, 0, 0, 0.1)'">
		      	
		<vg-play-pause></vg-play-pause>
		<vg-mute ></vg-mute>
		<vg-volume ></vg-volume>

		<vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
		<div style="pointer-events: none; width: 100%;"></div>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
		<vg-playback-button></vg-playback-button>
		<vg-fullscreen [style.float]="'right'" ></vg-fullscreen>
	</vg-controls>

	<video #media [vgMedia]="media" id="singleVideo" preload="auto" crossorigin>
		<source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
	</video>
</vg-player>