/*#player_universal vg-controls vg-play-pause{
	margin-top: 17px;
	margin-left: 15px;
	margin-bottom: 19px;
	width: 12px;
    height: 15px;
	margin-right: 15px;
}

#player_universal vg-controls vg-mute{
	margin-top: 14px;
	margin-bottom: 19px;
	width: 17px;
    height: 20px;
	margin-right: 15px;
}


#player_universal vg-controls vg-volume{
	margin-top: 22px;
	margin-left: 15px;
	margin-bottom: 19px;
    height: 5px;
	margin-right: 15px;
}

#player_universal vg-controls vg-playback-button{
	margin-top: 18px;
	margin-left: 15px;
	margin-bottom: 19px;
    height: 15px;
    width: 15px;
	margin-right: 15px;
}


#player_universal vg-controls vg-track-selector{
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 19px;
    width: 20px;
    height: 17px;
    padding-top: -109px;
    margin-right: 15px;
}

:host ::ng-deep vg-track-selector .container{
	height: 14px;
	margin-left: 5px;
	margin: -12px !important;
	
}

:host ::ng-deep vg-track-selector select.trackSelector{
	height: 18px;
    width: 20px;
    margin-left: 2px;
}


#player_universal vg-controls vg-fullscreen{
	margin-top: 14px;
	margin-left: 15px;
	margin-bottom: 19px;
	width: 17px;
    height: 20px;
	margin-right: 15px;
}
vg-scrub-bar{
	background: rgba(90, 89, 89, 0.75);
    width: 97%;
    margin-left: 1.5%;
}

@media screen and (max-width: 725px) {
	vg-scrub-bar{
	    width: 94% !important;
	    margin-left: 3% !important;
	}
	vg-overlay-play{
		display: none;
	}
}

@media screen and (min-width: 726px) {
	:host ::ng-deep vg-overlay-play .vg-overlay-play {
		height: 80%;
		cursor: default;
		
	}

	:host ::ng-deep vg-overlay-play .vg-overlay-play .overlay-play-container.vg-icon-play_arrow{
		height: 125%;
	}
	#player_universal vg-controls vg-mute{
		margin-left: 15px;
		
	}


}
*/

vg-time-display{
	margin-left: 15px !important;
}

@media screen and (max-width: 725px) {

	

	vg-mute{

		margin-left: 0px !important;

	}

	vg-volume{
		width: 200px !important;
	}

	vg-scrub-bar{
	    width: 94% !important;
	    margin-left: 3% !important;
	}
	vg-overlay-play{
		display: none;
	}



	/*vg-volume{
		width: 100%;
		margin-left: -5px !important;
		height: 20px !important;
		margin-top: 15px !important;
	}

	:host ::ng-deep vg-overlay-play .vg-overlay-play {
		height: 60%;
		cursor: default;
		
	}

	:host ::ng-deep vg-overlay-play .vg-overlay-play .overlay-play-container.vg-icon-play_arrow{
		height: 166%;
	}
	vg-scrub-bar{
		height: 15px;
		background: none; 
	    padding-top: 10px;
	}
	:host ::ng-deep vg-scrub-bar div{
		background: rgba(90, 89, 89, 0.75);
		z-index: -1;
		height: 5px;
	}
	
	:host ::ng-deep vg-scrub-bar-current-time .background{
	    background-color: white !important;
	    z-index: 1;
	}*/
}
*:focus {
    outline: none;
}
vg-scrub-bar{
	background: rgba(90, 89, 89, 0.75);
    width: 97%;
    margin-left: 1.5%;
}
@media screen and (max-width: 725px) {
	
}